In [3]:
person={'name':'Souvik','age':'22'}
sentence='My name is ' +person['name']+' & I am '+str(person['age'])+' years old.'
sentence

'My name is Souvik & I am 22 years old.'

In [5]:
sentence='My name is {} & I am {} years old.'.format(person['name'],person['age'])
sentence

'My name is Souvik & I am 22 years old.'

In [6]:
sentence='My name is {0} & I am {1} years old.'.format(person['name'],person['age']) #0 & 1 are the values passed in the format.
sentence

'My name is Souvik & I am 22 years old.'

In [8]:
tag='h1'
text='This is a headline'

sentence='<{0}>{1}</{0}>'.format(tag, text)
sentence

'<h1>This is a headline</h1>'

In [9]:
sentence='My name is {0[name]} & I am {1[age]} years old.'.format(person,person)
sentence

'My name is Souvik & I am 22 years old.'

In [10]:
sentence='My name is {0[name]} & I am {0[age]} years old.'.format(person)
sentence

'My name is Souvik & I am 22 years old.'

In [11]:
l=['jenn',23]
sentence='My name is {0[0]} & I am {0[1]} years old.'.format(l)
sentence

'My name is jenn & I am 23 years old.'

In [15]:
#Accessing Attributes in similar way
class person():
    
    def __init__(self,name,age):
        self.name=name
        self.age=age
p1=person('Souvik','22')
sentence='My name is {0.name} & I am {0.age} years old.'.format(p1)
sentence

'My name is Souvik & I am 22 years old.'

In [16]:
sentence='My name is {name} & I am {age} years old.'.format(name='Souvik',age='22')
sentence

'My name is Souvik & I am 22 years old.'

In [18]:
person={'name':'Souvik','age':23}
sentence='My name is {name} & I am {age} years old.'.format(**person)
sentence

'My name is Souvik & I am 23 years old.'

In [20]:
for i in range(1,11):
    sentence="The Value is {}".format(i)
    print(sentence)

The Value is 1
The Value is 2
The Value is 3
The Value is 4
The Value is 5
The Value is 6
The Value is 7
The Value is 8
The Value is 9
The Value is 10

In [21]:
#Now, I want every value to be two digits
for i in range(1,11):
    sentence="The Value is {:02}".format(i) #{:02} is for 0 padding and 2 is the digits.
    print(sentence)

The Value is 01
The Value is 02
The Value is 03
The Value is 04
The Value is 05
The Value is 06
The Value is 07
The Value is 08
The Value is 09
The Value is 10

In [22]:
for i in range(1,11):
    sentence="The Value is {:03}".format(i) #{:02} is for 0 padding and 2 is the digits.
    print(sentence)

The Value is 001
The Value is 002
The Value is 003
The Value is 004
The Value is 005
The Value is 006
The Value is 007
The Value is 008
The Value is 009
The Value is 010

In [23]:
pi=3.14159265

sentence='Pi is equal to {}'.format(pi)
sentence

'Pi is equal to 3.14159265'

In [24]:
sentence='Pi is equal to {:.2f}'.format(pi) #Decimal Places Format
sentence

'Pi is equal to 3.14'

In [25]:
sentence='1 MB is equal to {} bytes'.format(1000**2)
sentence

'1 MB is equal to 1000000 bytes'

In [27]:
#Now We want to add comma for better Understanding as well as 2 decimal places
sentence='1 MB is equal to {:,.2f} bytes'.format(1000**2) 
sentence

'1 MB is equal to 1,000,000.00 bytes'

In [30]:
import datetime
my_date=datetime.datetime(2016,9,24,12,30,45)
print(my_date)

2016-09-24 12:30:45

In [32]:
sentence='{:%B %d, %Y}'.format(my_date)
sentence

'September 24, 2016'

In [34]:
#September 24, 2016 fell on a Tuesday and was the 061 day of the year.
sentence='{0:%B %d, %Y} fell on a {0:%A} and was the {0:%j} day of the year'.format(my_date)
#Without 0 it will give error as there are 3 place holder for our single value my_date so we provide the index.
sentence

'September 24, 2016 fell on a Saturday and was the 268 day of the year'