In [ ]:
##List & Tuples allows us to work with sequential Data
## Whereas, Sets are unordered collection and Values with no Duplicates

In [41]:
courses = ['Eng','His','Maths','CompSci']
print(courses)
print(len(courses))

['Eng', 'His', 'Maths', 'CompSci']
4

In [8]:
print(courses[2])
print(courses[-1]) ##Last item
print(courses[0:3])##0 to n-1
#print(courses[6]) ##IndexError: list index out of range

Maths
CompSci
['Eng', 'His', 'Maths']

In [4]:
a = 'Souvik'
b = list(a)
print(b[0])

S

In [37]:
courses.append('Art') ##It adds the value at the last
courses.insert(0,'Physical Edu') ## It adds to the provided location (loc,value)
courses_2 = ['Sci','Chem']
##courses.insert(0,courses_2)
print(courses)

['Physical Edu', 'Eng', 'His', 'Maths', 'CompSci', 'Art']

In [38]:
courses.extend(courses_2) ## courses_2 is added as its string value.
courses.remove('Art')
popped=courses.pop() ##It removes the last Value by default.
print(popped)
print(courses)

Chem
['Physical Edu', 'Eng', 'His', 'Maths', 'CompSci', 'Sci']

In [43]:
courses = ['Eng','His','Maths','CompSci']
courses.reverse() ##It reverses the elements
print(courses)

['CompSci', 'Maths', 'His', 'Eng']

In [47]:
courses.sort() ##Sorts lexicographically
print(courses) 
nums = [1,6,3,7,8,2,9]
nums.sort() ##Sorts in asc order
print(nums)
nums.sort(reverse=True) ##Sorts in desc order
print(nums)

['CompSci', 'Eng', 'His', 'Maths']
[1, 2, 3, 6, 7, 8, 9]
[9, 8, 7, 6, 3, 2, 1]

In [49]:
sorted_courses=sorted(courses)
print(sorted_courses)

['CompSci', 'Eng', 'His', 'Maths']

In [51]:
min(nums)
max(nums)

9

In [54]:
print(courses.index('CompSci')) ##Index of string
print('Art' in courses)
print('Maths' in courses)

0
False
True

In [55]:
##Looping Through
for item in courses:
    print(item)

CompSci
Eng
His
Maths

In [56]:
##Gives Access to index and value
for item in enumerate(courses):
    print(item)

(0, 'CompSci')
(1, 'Eng')
(2, 'His')
(3, 'Maths')

In [57]:
for item in enumerate(courses,1):
    print(item)

(1, 'CompSci')
(2, 'Eng')
(3, 'His')
(4, 'Maths')

In [66]:
course_str = ', '.join(courses) ##Prints element of list in str separated by (, , - ,etc)
print(course_str)
new_list = course_str.split(', ') ##Convert it into list. i.e the string was eariler separated by ', '
print(new_list)

CompSci, Eng, His, Maths
['CompSci', 'Eng', 'His', 'Maths']

In [ ]:
##Tuples [It can't be modified i.e - immutable]

In [ ]:
#Mutable
list_1 = ['History','Math','Physics','CompSci']
list_2 = list_1

print(list_1)